MONGO_URI=tu_mongo_uri_aqui
JWT_SECRET=tu_jwt_secret_aqui
STRIPE_SECRET=sk_test_tu_clave_aqui
FRONTEND_ORIGINS=http://127.0.0.1:5500,http://localhost:5500,https://woofwash.com.mx,https://www.woofwash.com.mx

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_password_de_app_aqui
SMTP_FROM=Woof & Wash <tu_correo@gmail.com>
ADMIN_EMAIL=avisos@woofwash.com.mx
